.sidebar {
    &__chkbx {
        display: none;
    }

    &__btn {
        background-color: white;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 2rem;
        left: 2rem;
        border-radius: 50%;
        z-index: 700;
        box-shadow: 0 0.5rem 3rem rgba(#333, 0.5);
        text-align: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    &__icon {
        position: relative;

        &,
        &::before,
        &::after {
            width: 2.5rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: -0.8rem;
        }
        &::after {
            top: 0.8rem;
        }
    }

    &__btn:hover &__icon::before {
        top: -1rem;
    }

    &__btn:hover &__icon::after {
        top: 1rem;
    }

    &__chkbx:checked + &__btn &__icon {
        background-color: transparent;
    }

    &__chkbx:checked + &__btn &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__chkbx:checked + &__btn &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    //==========================================================================

    &__chkbx:checked ~ &__wrapper {
        transform: translateX(0);
    }

    &__chkbx:checked ~ &__wrapper + div {
        padding-left: 25.6rem;
    }

    &__chkbx:checked ~ &__btn {
        height: 5rem;
        width: 5rem;
    }

    @include respond(tab-port) {
        &__chkbx:checked ~ &__wrapper + div {
            width: 100%;
            padding-left: 0;
        }
    }

    //==========================================================================

    &__wrapper {
        background-color: #061525;
        width: 25.6rem;
        height: 100vh;
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        left: 0;
        z-index: 100;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s ease;
    }

    & .user {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &__profilePic {
            width: 70%;
            border-radius: 500px;
            overflow: hidden;
            padding: 0.3rem;
            margin-bottom: 2rem;
            border: 0.5rem solid white;
            position: relative;
            display: inline-block;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: transparent;
                border-radius: 500px;
                border: 0.6rem solid #061525;
            }

            & img {
                max-width: 100%;
            }
        }

        &__text {
            text-align: center;
            font-size: 2.4rem;
            width: 100%;
            font-family: sans-serif;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;

            & div {
                font-size: 1.2rem;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & table {
                font-size: 1.6rem;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 1rem auto 3rem;

                & tr td:nth-child(2) {
                    padding-left: 1rem;
                    text-align: left;
                    font-family: 'elianto';
                }

                & tr td {
                    width: 50%;
                    text-align: right;
                }
            }
        }
    }
    &__link {
        width: 100%;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 1rem 0;
        border: none;
        font-family: 'elianto';
        outline: none;
        text-transform: uppercase;
        background: transparent;
        letter-spacing: 0.1rem;
        font-size: 1.6rem;
        font-weight: 600;
        position: relative;
        z-index: 10;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, #a12bf5, #5a297c);
            z-index: -1;
            transition: opacity 0.3s linear;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}
