
.auth__back {
    background: #eee;
    height: 100vh;
    padding: 10vh 10vw;
    z-index: -1;
    display: flex;
    align-items: center;

    @include respond(tab-port) {
        padding: 10vh 15vw;
    }

    @include respond(phone) {
        padding: 5vh 10vw;
    }
}

.auth {
    background: white;
    height: 80vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 3.5rem 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: flex;

    &__display {
        width: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        @include respond(tab-port) {
            display: none;
        }

        &__art {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            &--img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                
            }
        }

        &__text {
            padding-bottom: 4rem;
            padding-left: 4rem;
        }

        &__logo {
            width: 10vw;
            height: 10vw;
            max-width: 7rem;
            max-height: 7rem;
            transform: translate(100%,-50%) scale(1.5);
        }

        &__heading {
            color: #5a297c;
            display: inline-block;
            font-size: 7rem;  
            margin-top: -1rem;
            text-shadow: 0.3rem 0.3rem 0.7rem rgba(0, 0, 0, 0.45);
            line-height: 1em;
            margin-top: 1rem;
            font-family: 'Kaushan Script', cursive;
            transition: all 0.3s ease;
            display: flex;
            align-items: flex-end;

            &:hover {
                // transform: scale(1.15);
                font-size: 8rem;
                text-shadow: 0.75rem 0.5rem 1.3rem rgba(0, 0, 0, 0.5);
            }

            /* &:hover .auth__display__logo {
                transform: translate(100%,-50%) scale(1.25);
            } */
        }

        &__desc {
            color: #333;
            font-size: 1.8rem; 
            font-weight: 600;
            margin-left: 1rem;
        }

        &__contact {
            color: #333;
            display: inline-block;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            padding: 0.3rem 2rem;
            margin-left: 4rem;
            font-size: 1.5rem;
            font-weight: 600;
            border: 2px solid #333;
            border-radius: 100px;
            transition: all 0.2s ease;

            &:hover {
                color: #005bea;
                transform: scale(1.1);
                border: 2px solid #005bea;
                cursor: pointer;
            }
        }

        &__footer {
            margin-top: 2.5rem;
            font-size: 1.5rem;

            & > i {
                font-size: 2.5rem;
                transform: translateY(0.45rem);
                margin-right: 1rem;
            }

            &--icons {
                font-size: 2.5rem;
                display: flex;
                margin-top: 1rem;
                margin-left: 1.5rem;
                align-items: center;
                justify-content: space-evenly;
                width: 40%;
                
                & i {
                    font-size: 2.5rem;
                    padding: 0 0.5rem;
                    transition: all 0.1s ease;

                    &:hover {
                        color: #005bea;
                        transform: scale(1.15);
                    }
                }
            }
        }
    }

    &__card {
        // background-image: linear-gradient(to bottom right, #00c6fb, #005bea);
        background-image: linear-gradient(to bottom right, #5a297c, #291842);
        width: 40%;
        height: 100%;
        z-index: 10;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        @include respond(tab-port) {
            width: 100%;
            border-radius: 1.5rem;
            margin: 0;
        }

        &__form {
            width: 80%;
            height: 100%;
            z-index: 20;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--radio {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

    &-rule {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        & span:nth-child(1), & span:nth-child(3) {
            width: 45%;
            background: white;
            height: 2px;
        }

        & span:nth-child(2) {
            width: 9%;
            color: white;
            text-align: center;
        }
    }
}