
.followcard {
    background: white;
    padding: 1.5rem;
    width: 35rem;
    margin: 1rem 1.15rem;
    border-radius: 1rem;
    z-index: 10;
    box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.8);
    position: relative;
    cursor: pointer;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }

    &__profilePic {
        width: 25%;
        border-radius: 500px;
        overflow: hidden;
        padding: 0.4rem;
        border: 0.2rem solid #5a297c;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1rem 2.5rem -0.5rem rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;
            border-radius: 500px;
            border: 0.5rem solid #eee;
        }

        & img {
            max-width: 100%;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
    }

    &__name {
        font-size: 2rem;
        width: 100%;
        font-family: 'elianto';
        text-transform: uppercase;
        font-weight: 600;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }


    &--wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 1vh 5vh 5vh;
    }
}