.form {

    &__group {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1.5px solid rgba(white, 0.4);

        &__thumb {
            display: inline-block;
            width: 10%;
            transform: translateY(20px);
        }

        &__input {
            background: transparent !important;
            color: white;
            display: inline-block;
            width: 90%;
            padding-left: 3%;
            letter-spacing: 1px;
            font-size: inherit;
            border: none;
            transform: translateY(15px);

            &::placeholder {
                color: rgba(white, 0.6);
                opacity: 1;
                transition: all 0.3s ease;
            }

            &:-webkit-autofill {transition: all 5000s ease-in-out 0s;}

            &:focus {
                box-shadow: none;
                outline: none;

                &::placeholder {
                    color: white;
                }
            }
        }

        
    }
 
    &__invalid {

        &--msg {
            font-size: 14px;
            border-top: 2px solid red;
            transform: translate(0.5px, -1.5px);
        }
    }
}

.rule {
    width: 25%;
    display: inline-block;
    height: 1.5px;
    transform: translateY(8px) scaleX(1);
    transition: all 0.5s ease;
    background-color: transparent;
}

.form__group__input:focus ~ .rule {
    background-color: white;
    content: ' ';
    height: 1.5px;
    transform: translateY(8px) scaleX(4);
}
