
.logo {
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    &__img {
        max-width:75%;
        max-height:75%;
        animation: rotation 3s infinite linear;
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}