.createpost {
	background: white;
	height: 80vh;
	width: 100%;
	background-size: cover;
	border-radius: 1.5rem;
	box-shadow: 0 0 3.5rem 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 0;
    font-size: 1.6rem;
    display: flex;

    @include respond(tab-port) {
        flex-direction: column;
        height: 100%;
    }

	&__wrapper {
        background: #eee;
        width: 100%;
		height: 100vh;
		padding: 10vh 20vh;
        z-index: -1;

        @include respond(tab-port) {
            padding: 5vh;
        }
	}

	&__card {
		// background-image: linear-gradient(to bottom right, #5a297c, #291842);
		background: white;
		width: 40%;
		height: 100%;
		z-index: 10;
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
		padding: 1.7rem 1.5rem 1.7rem 3rem;
		overflow-x: hidden;
        overflow-y: scroll;
        
        @include respond(tab-port) {
            width: 100%;
            order: 2;
            padding: 1.7rem;
            border-bottom-right-radius: 1.5rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }

		&::-webkit-scrollbar {
			width: 2.5rem;
		}

		&::-webkit-scrollbar-track {
			background: #ddd;
			border-left: 1.1rem solid white;
			border-right: 1.1rem solid white;
		}

		&::-webkit-scrollbar-thumb {
			background: linear-gradient(to bottom, #8e2de2, #4a00e0);
			border-left: 0.8rem solid white;
			border-right: 0.8rem solid white;
			border-radius: 5rem;
		}

		&__form {
			width: 100%;
			height: 100%;
			z-index: 20;
			display: flex;
			flex-direction: column;
			align-items: center;

			&__urlsection {
				width: 100%;
				background: #a0a0a0;
				border-radius: 1rem;
				padding: 1.5rem;
				margin-bottom: 3rem;

				&--add {
					background: #f0366e;
					border: none;
					color: white;
					width: 15rem;
					padding: 1rem 2rem;
					border-radius: 500px;
					display: block;
					margin: 0 auto;
					box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
					transition: all 0.2s ease;

					&:hover {
						box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
						transform: scale(1.05);
						cursor: pointer;
					}

					&:focus {
						border: none;
						outline: none;
					}
				}

				&--list {
					margin: 1rem 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}

				&--grp {
                    margin-top: 1rem;
                    width: 80%;
				}

				&--input {
					border: none;
					width: 85%;
					border-top-left-radius: 15rem;
					border-bottom-left-radius: 15rem;
					padding-left: 1rem;
					padding: 0.5rem 1.5rem;
					display: inline-block;
					box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);

					&:focus {
						border: none;
						outline: none;
					}
				}

				&--rm {
					background: #01df14;
					border: none;
					color: white;
                    // width: 40px;
                    width: 15%;
					padding: 0.5rem 1rem;
					border-top-right-radius: 15rem;
					border-bottom-right-radius: 15rem;
					display: block;
					margin: 0 auto;
					display: inline-block;
					box-shadow: 0.1rem 0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
					cursor: pointer;

					&:focus {
						border: none;
						outline: none;
					}
				}
			}

			&__desc {
				// resize: none;
				width: 100%;
				min-height: 30%;
				color: #444;
				background: #eee;
				border-radius: 1rem;
				padding: 0.5rem 1.5rem;
				border: none;
				outline: none;
				flex-shrink: 0;

				&--label {
					width: 100%;
				}
			}

			&--radio {
				width: fit-content;
				position: relative;
				margin: 0 auto;
				padding: 1.5rem 0;
			}
		}
	}

	&__preview {
		width: 60%;
		background-image: linear-gradient(to bottom right, #00c6fb, #005bea);
		position: relative;
		overflow-x: hidden;
        overflow-y: scroll;
        
        @include respond(tab-port) {
            width: 100%;
            order: 1;
            min-height: 10rem;
            max-height: 75vh;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
        }

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.fileUpload {
	position: relative;
	padding: 0 10rem;
    margin-top: 3rem;
    
    @include respond(tab-port) {
        padding: 0 3rem;
    }
}

.postForm-radioGroup {
	position: relative;

	&__input {
		display: none;
	}

	&__label {
		color: #444;
		font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
		position: relative;
		padding-left: 4rem;
	}

	&__button {
		height: 2.5rem;
		width: 2.5rem;
		border: 0.2rem solid #005bea;
		border-radius: 100%;
		display: inline-block;
		position: absolute;
		left: 0;

		&::after {
			content: '';
			display: block;
			opacity: 0;
			height: 1.5rem;
			width: 1.5rem;
			border-radius: 100%;
			background-color: #005bea;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.2s ease;
		}
	}

	&__input:checked ~ &__label &__button::after {
		opacity: 1;
	}
}

@mixin gradientBg($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(
		to left top,
		$startColor 0%,
		$endColor 80%,
		$endColor 100%
	);
	background: -webkit-linear-gradient(
		to left top,
		$startColor 0%,
		$endColor 80%,
		$endColor 100%
	);
	background: linear-gradient(
		to left top,
		$startColor 0%,
		$endColor 80%,
		$endColor 100%
	);
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
	@include gradientBg(#52a0fd, #00cae0);
}

.fancy-button {
	text-decoration: none;
	background: transparent;
	border: none;
	display: inline-block;
	margin-bottom: 3.5rem;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 2rem;
	letter-spacing: 0.03rem;
	color: #ffffff;
	position: relative;
	cursor: pointer;

	&:focus {
		border: none;
		outline: none;
	}

	&:before {
		content: '';
		display: inline-block;
		height: 3rem;
		position: absolute;
		bottom: -0.5rem;
		left: 3rem;
		right: 3rem;
		z-index: -1;
		border-radius: 30rem;
		filter: blur(2rem) brightness(0.95);
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;

		&:focus {
			border: none;
			outline: none;
		}
	}
	i {
		margin-top: -0.5rem;
		margin-right: 1rem;
		font-size: 2rem;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		padding: 1rem 4rem;
		border-radius: 50rem;
		position: relative;
		z-index: 2;
		will-change: transform, filter;
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}
	&:focus,
	&:active {
		color: #ffffff;
	}
	&:hover {
		color: #ffffff;

		span {
			filter: brightness(1.05) contrast(1.05);
			transform: scale(0.95);
		}
		&:before {
			bottom: 0;
			filter: blur(1rem) brightness(0.95);
		}
	}
	&.pop-onhover {
		&:before {
			opacity: 0;
			bottom: 1rem;
		}
		&:hover {
			&:before {
				bottom: -0.7rem;
				opacity: 1;
				filter: blur(2rem);
			}
			span {
				transform: scale(1.04);
			}
			&:active {
				span {
					filter: brightness(1) contrast(1);
					transform: scale(1);
					transition: all 0.15s ease-out;
				}
				&:before {
					bottom: 0;
					filter: blur(1rem) brightness(0.95);
					transition: all 0.2s ease-out;
				}
			}
		}
	}
}
