*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    
    a, a:hover {
        text-decoration: none !important;
    }
}

.notfound {
    background: url(../assets/404.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}